img.normalized-size {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

img.discolored {
    filter: grayscale(100%);
}

img.discolored:hover {
    filter: grayscale(0%);
}

.font-size-100 {
    font-size: 100%;
    color: black;
    font-weight: bold;
}

.white-hovered:hover {
    color: white!important;
}

#carousel-cars {
    position: relative;
}

#carousel-cars > .carousel-inner {
    max-height: 1400px;
}

#carousel-cars > .carousel-inner > .carousel-item > img {
    height: auto;
    width: auto;
}